{{> head}}
<body>
	{{{@bodyCustomCode}}}
    <div class="container">
        <header class="js-top is-sticky">
            <a class="logo" href="{{@website.url}}">
                {{#if @website.logo}}
                    <img src="{{@website.logo}}" alt="{{@website.name}}">
                {{else}}
                    {{@website.name}}
                {{/if}}
            </a>
            {{> menu menus.mainMenu}}
        </header>
        <main>
            <section class="hero">
                {{#if @config.custom.uploadHero}}
                    <div class="hero__wrap">
                        <img
                            src="{{@config.custom.uploadHero}}"
                            {{responsiveSrcSet @config.custom.uploadHero}}
                            {{responsiveSizes}}
                            alt="{{@config.custom.uploadHeroAlt}}"
                            {{#if @config.custom.uploadHeroTitle}}
                            title="{{@config.custom.uploadHeroTitle}}"
                            {{/if}}>
                    </div>
                {{/if}}
                {{#if @config.custom.textHero}}
                    <header class="hero__text">
                        {{{@config.custom.textHero}}}
                    </header>
                {{/if}}
            </section>
            <div class="category">
                {{#each posts}}
                    <article>
                        <header>
                            {{#checkIfAny @config.custom.frontAvatar @config.custom.frontAuthor @config.custom.frontDate}}
                                <p class="category__post-meta">
                                    {{#author}}
                                        {{#if @config.custom.frontAvatar}}
                                            {{#if avatar}}
                                                <img src="{{avatar}}" class="post__author-thumb" alt="{{name}}">
                                            {{/if}}
                                        {{/if}}
                                        {{#if @config.custom.frontAuthor}}
                                            <a href="{{url}}" class="inverse" title="{{name}}">{{name}}</a>,
                                        {{/if}}
                                    {{/author}}
                                    {{#if @config.custom.frontDate}}
                                        <time datetime="{{date createdAt 'YYYY-MM-DDTHH:mm'}}">
                                            {{date createdAt @config.custom.formatDate}}
                                        </time>
                                    {{/if}}
                                </p>
                            {{/checkIfAny}}
                            <h2>
                                <a href="{{url}}" class="inverse">
                                    {{title}}
                                </a>
                            </h2>
                        </header>
                        {{#if excerpt}}
                            <p>{{{excerpt}}}</p>
                        {{/if}}
                        {{#if @config.custom.frontReadMore}}
                            <a href="{{url}}" class="u-readmore">  {{ translate 'post.readMore' }}</a>
                        {{/if}}
                    </article>
                {{/each}}
                {{> pagination}}
            </div>
        </main>
        {{> footer}}
